
<script type='text/javascript'>

 </script>



<% content_for :title do %> Zenjob Infoscreen<% end %>
<div class="gridster">
  
  <ul class = "the_ul">

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="absmorgm/BowlingScoring" data-view="GithubStats"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="absmorgm/BowlingScoring" data-view="GithubStats"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="absmorgm/BowlingScoring" data-view="GithubStats"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="ci_travis_bowlingscoring_master" data-view="Travis" data-unordered="true" data-title="BowlingScoring master"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="ci_travis_bowlingscoring_master" data-view="Travis" data-unordered="true" data-title="BowlingScoring master"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="ci_travis_bowlingscoring_testing-feature" data-view="Travis" data-unordered="true" data-title="BowlingScoring testing-feature"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="app_store_rating" data-view="Appstore" data-title="Zenjob iOS"></div>
    </li>
  </ul>

</div>
